h1,
h2,
h3,
h4,
h5,
h6,
.MenuItems {
  font-family: "Raleway" !important;
}

.MenuColor {
  background: linear-gradient(to bottom, #22568c, #2a6baf);
}
.FooterColor {
  background: linear-gradient(to bottom, #2a6baf, #22568c);
}

/*
//TODO colors #76B19D #861C7F #af7589 #2b6cb0 */
