.ant-carousel .slick-slide {
  background: transparent;
}

.slick-dots li {
  background-color: #fff;
  border: solid 2px #fff;
  margin-left: auto;
  margin-right: auto;
}

.PageProgress {
  position: sticky;
  top: 0;
  z-index: 1000;
}
h1,
h2,
h3,
h4,
h5,
h6,
.MenuItems {
  font-family: "Raleway" !important;
}

#MenuColor {
  background: linear-gradient(to bottom, #22568c, #2a6baf);
}
.FooterColor {
  background: linear-gradient(to bottom, #2a6baf, #22568c);
}
